<div *ngIf="toy">
    <h2>{{ toy.name | uppercase }} Details</h2>
    <div>id: {{ toy.id }}</div>
    <div>
        <label for="toy-name">Toy name: </label>
        <input id="toy-name" [(ngModel)]="toy.name" placeholder="name" [disabled]="userId !== 0">
    </div>
    <div>
        <label for="toy-quantity">Stock Quantity: </label>
        <input id="toy-quantity" [(ngModel)]="toy.quantity" placeholder="quantity" [disabled]="userId !== 0" type="number" min="0">
        <span *ngIf="toy.quantity < 0" style="color: red;">Quantity cannot be negative</span>
    </div>
    <div>
        <label for="toy-cost">Cost: </label>
        <input id="toy-cost" [(ngModel)]="toy.cost" placeholder="cost" [disabled]="userId !== 0" type="number" min="0">
        <span *ngIf="toy.cost < 0" style="color: red;">Cost cannot be negative</span>
    </div>
    <div>
        <label for="toy-type">Type: </label>
        <input id="toy-type" [(ngModel)]="toy.type" placeholder="type" [disabled]="userId !== 0">
    </div>

    <hr>

    <div *ngIf="userId !== 0">
        <app-quantity-dropdown [toy]="toy" [userId]="userId"></app-quantity-dropdown>
    </div>

    <!-- Buttons -->
    <button type="button" (click)="goBack()">Go Back</button>
    <button type="button" (click)="save()" *ngIf="userId === 0"> Update Toy</button>
    <button type="button" (click)="remove()" *ngIf="userId===0">Remove Toy</button>
</div>

